{% extends "reklama.html" %}
{% load static %}

{% block content %}
<section id="products" class="products">
    <h2 class="section-title">Elektronika</h2>
    <div class="products-container">
    

        {% for product in products %}
        <div class="product-box">
            <img src="{{product.surat.url}}" alt="Product 1" class="product-img">
            <h3>{{product.name}}</h3>

            <h1>{{product.price}} TMT</h1>
        </div>

        {% endfor %}

{% endblock content %}